          
            <div class="row marketing">
	            <div class="col-sm-12" align="center">
	                    <button id="genHeatMap" type="button" class="btn btn-default">Atualizar</button>
	            </div>
            </div>

          <div  id="heat_content">
          	  <!--<p align="center"> Próxima atualização em: <span id="heatTimer"></span> </p>-->
	          <h4>Primeiro piso</h4>

	          <img id="floor_1" src="static/images/floor_1_clean.png" width="100%" align="center" />

	          <h4>Segundo piso</h4>
	          <img id="floor_2" src="static/images/floor_2_clean.png" width="100%" align="center" />
          </div>