
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'templates/head.html' %}
  </head>

  <body>
    <div class="container">
      {% include 'templates/header.html' %}
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab1">Tempo Real</a></li>
        <li><a data-toggle="tab" href="#tab2">Mapa de Calor</a></li>
        <li><a data-toggle="tab" href="#tab3">Histórico</a></li>
        <li><a data-toggle="tab" href="#tab4">Previsão</a></li>
        <li><a data-toggle="tab" href="#tab5">Lojas Similares</a></li>
        <li><a data-toggle="tab" href="#tab6">Marketing</a></li>
      </ul>

      <div class="tab-content">

         
        <div id="tab1" class="tab-pane fade in active">
          {% include 'templates/realTime.html' %}
        </div>

        <div id="tab2" class="tab-pane fade">
          {% include 'templates/heatMap.html' %}
        </div>

        <!-- Historico -->
        <div id="tab3" class="tab-pane fade">
            {% include 'templates/historical.html' %}
        </div>

        <div id="tab4" class="tab-pane fade">
            {% include 'templates/forecast.html' %}
        </div>

        <div id="tab5" class="tab-pane fade">
          <div class="row marketing">
              <div class="col-sm-8">
                <h4>Correlação</h4>
              </div>

              <div class="col-sm-4">
                <h4>Análise</h4>
              </div>
            </div>
        </div>


          <div id="tab5" class="tab-pane fade">
          <div class="row marketing">
              <div class="col-sm-8">
                <h4>Marketing</h4>
              </div>

              <div class="col-sm-4">
                <h4>Análise</h4>
              </div>
            </div>
        </div>



      </div> 
      
      {% include 'templates/footer.html' %}
    </div>
  </body>
</html>

